@import "tailwindcss";

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html,
  body,
  #root {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: 'DM Sans', sans-serif;
    background-color: #09090b;
    color: #e4e4e7;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  ::-webkit-scrollbar {
    width: 4px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: #3a3a44;q
    border-radius: 9999px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #51515c;
  }

  ::selection {
    background: #e8ff4730;
    color: #e8ff47;
  }
}